<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2017 Amlogic, Inc. All rights reserved.
  ~
  ~ This source code is subject to the terms and conditions defined in the
  ~ file 'LICENSE' which is part of this source code package.
  ~
  ~ Description:
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.amlogic.graphictestsuite">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.DarkActionBar"
        tools:targetApi="lollipop">
        <activity
            android:name="com.amlogic.graphictestsuite.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.amlogic.graphictestsuite.ForceDefaultOrientation"
            android:screenOrientation="portrait" />
        <activity android:name=".ComposerTest" />
        <activity
            android:name=".SetSurfaceViewParam"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".SurfaceViewActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
    </application>

</manifest>